
.DS_Store
.DS_Store
.DS_Store
hw_3/hw_3.xcodeproj/project.pbxproj
hw_3/hw_3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
hw_3/hw_3.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
hw_3/hw_3.xcodeproj/project.xcworkspace/xcuserdata/ibatrak.xcuserdatad/UserInterfaceState.xcuserstate
hw_3/hw_3.xcodeproj/xcuserdata/ibatrak.xcuserdatad/xcschemes/xcschememanagement.plist
